html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

a{
    font-size: 2rem;
}

.pai > div{
    width: 50%;
    height: 50rem;
    background: blue;
}

.pai{
    width: 50rem;
    height: 100vh;  
    background-color: yellow;
}

.color-two{
    background-color: turquoise;
}

.color-three{
    background-color: greenyellow;
}

p{
    font-size: 1.6rem;
}
